[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
certifi = "==2018.4.16"
chardet = "==3.0.4"
idna = "==2.6"
requests = "==2.20.0"
"urllib3" = "==1.22"
python-telegram-bot = "*"
openpyxl = "*"

[requires]
python_version = "2.7"
